{% extends 'app/index.html'%}

{% block content %}

<section class="hero">
    <h1>Welcome to <span>Everest Hospital Pvt. Ltd.</span></h1>
    <p>Your comfort and satisfaction are our absolute priorities. Please take a brief moment to share your experience with us so we can continue to elevate our hospitality services.</p>
    <a href="{% url 'feedback' %}" class="btn">Share Your Feedback</a>
</section>
    
<footer>
        <p>&copy; 2026 Everest Hotel Pvt. Ltd. All rights reserved.</p>
    </footer>
    
{% endblock %}