{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
    <link rel="stylesheet" href="{% static 'user/user_style.css' %}">
    {% block extra_css %}{% endblock %}
    <title>Index page</title>
</head>
<body>
    <header>
        <div class="logo">Everest Hospital<span>.</span></div>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'feedback' %}">Feedback Form</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <form action = "{%url 'logout' %}" method = "POST">
                    {% csrf_token %}
                    <button>Logout</button>
                </form>
                {% else %}
                <li><a href="{% url 'signin' %}">Sign In</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                {% endif %}
                
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
</body>
<script defer src="{% static 'app/index.js' %}"></script>
</html>