{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
    <link rel="stylesheet" href="{% static 'user/user_style.css' %}">
    {% block extra_css %}{% endblock %}
    <title>Index page</title>
</head>
<body>
    <header>
        <div class="logo">Everest Hospital<span>.</span></div>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'feedback' %}">Feedback Form</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                
                {% else %}
                <li><a href="{% url 'signin' %}">Sign In</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                {% endif %}
                
            </ul>
        </nav>
    </header>
    <main>
        {% if messages %}
        <div class="toast-container">
            {% for message in messages %}
                <div class="toast {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>

        <script>
            setTimeout(function() {
                let toasts = document.querySelectorAll('.toast');
                toasts.forEach(toast => {
                    toast.style.opacity = '0';
                    setTimeout(() => toast.remove(), 300);
                });
            }, 4000);
        </script>
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>
    
</body>
<script defer src="{% static 'app/index.js' %}"></script>
</html>